:root {
  --fontfamily: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --backgroundColor:#09090B;
  --navbarBackground:#121217;
  --navbarheight:70px;
}